* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: none;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}



/* .active {
    color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 20px 20px;
    border: 1px solid blue;
} */

.Wrapper {
    /* width:; */
    background-color: #0047AB;
    display: flex;
    /* width: 100%; */

}

.error{
    color: rgb(255, 0, 0);
    padding: 50px;
    font-weight: 700px;
}

.Asliddin {
    padding:30px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    margin-top: 70px;
}


.main {
    width: 100%;
    height: 100vh;
    
}

.Navbar {
    background: #0076CE;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    justify-content: space-between;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500px;
}

.navbar_links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 25px;
    color: #fff;
}

.active {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.saidbar {
    min-width: 250px;
    max-width: 250px;
    background: #0076CE;
    height: 100vh;
    color: white;
}

.saidbar_menu {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 25px;
    margin-top: 100px;
    color: rgb(255, 255, 255);
    justify-content: space-between;
    font-weight: 400px;



}

.saidbar_menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    overflow: auto;
}

/* Table start */
.table-container {
    max-height: 650px;
    overflow: auto;
}


.heading {
    text-align: center;
    margin-bottom: 20px;
    padding: 0 50px;
    color: azure;
    margin-top: 20px;
}

.table {
    margin: 0 auto;

    width: 70%;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
    color: #fff;
}

.table th {

    color: azure;
}

/* Table end */

.input {
    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: 8px;
    border: none;
    outline: none;
    display: flex;
}

/* Button start */

.action-button {

    margin: 5px;
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}


.action-button:hover {
    background-color: #00f90c;
}

.delente-button {

    margin: 5px;
    padding: 8px 12px;
    background-color: #ff1500;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.delente-button:hover {
    background-color: #bd503a;
}

.save-button {
    margin: 5px;
    padding: 8px 12px;
    background-color: #fff700;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.save-button:hover {
    background-color: #bfff00;
}

/* Button end */